<div class="layout-container">
  <header role="banner">
    <div class="container d-flex justify-content-between pt-5">
      {{ page.header }}
      {{ page.main_navigation }}
    </div>
  </header>

  <main class="py-5">
    <div class="container grid gap-5" style="--bs-columns: 6;">
        <div class="g-col-1">
          {{ page.aside_left }}
        </div>
      <div class="g-col-4">
          {{ page.content }}
      </div>
        <div class="g-col-1">
          {{ page.aside_right }}
        </div>
    </div>
  </main>

  <footer role="contentinfo" class="py-5">
    <div class="container">
        <div>
          {{ page.footer }}
        </div>
    </div>
  </footer>
</div>
